#contact {
  margin-bottom: 4rem;
}
.contact-wrapper {
  margin-top: 4rem;
}
.contact-map {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  width: 100vw;
  height: 70vw;
}
.contact-info {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}
.contact-info-adress-icon,
.contact-info-phone-icon,
.contact-info-email-icon {
  flex-basis: 25%;
  line-height: 33px;
  margin-bottom: 1rem;
  font-size: 25px;
  text-align: right;
  margin-right: 1rem;
}
.contact-info-adress-icon {
  line-height: 66px;
}
.contact-info-adress,
.contact-info-phone,
.contact-info-email {
  flex-basis: 50%;
  line-height: 33px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.contact-info span {
  display: block;
  text-align: left;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: #2d0800;
  opacity: 1;
}
@media (min-width: 820px) {
  .contact-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .contact-info {
    justify-content: flex-end;
  }
  .contact-map {
    width: 60vw;
    height: 40vw;
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  .contact-wrapper {
    align-items: flex-start;
  }
  .contact-map {
    width: 674px;
    height: 443px;
    margin-right: 15%;
  }

  .contact-info-adress-icon,
  .contact-info-phone-icon,
  .contact-info-email-icon {
    flex-basis: 25%;
    line-height: 33px;
    font-size: 25px;
    text-align: right;
  }
  .contact-info-adress-icon {
    line-height: 66px;
  }
  .contact-info-adress,
  .contact-info-phone,
  .contact-info-email {
    flex-basis: 50%;
    line-height: 33px;
    margin: 0;
  }
}
