#gallery {
  margin-bottom: 4rem;
  position: relative;
}
.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.gallery-item {
  position: relative;
  width: 100vw;
  height: 100vw;
  margin: 0;
  background-position: center;
  background-size: cover;
}
.gallery-item:nth-child(1) {
  background-image: url("../assets/images/coffee-g8e6326781_1920.jpg");
}
.gallery-item:nth-child(2) {
  background-image: url("../assets/images/coffee-gc1d0cbcb2_1920.jpg");
}
.gallery-item:nth-child(3) {
  background-image: url("../assets/images/cake-gf019ffda1_1920.jpg");
}
.gallery-item:nth-child(4) {
  background-image: url("../assets/images/coffee-g1d05741af_1920.jpg");
}
.gallery-item .photo-expand {
  position: absolute;
  color: white;
  width: 18px;
  height: 18px;
  bottom: 3%;
  right: 3%;
  cursor: pointer;
  z-index: 999;
}
.gallery-item img {
  width: 100vw;
  height: 100vw;
}
@media (min-width: 640px) {
  .gallery-container {
    margin: 2rem 0;
  }
  .gallery-item {
    width: 40vw;
    height: 40vw;
    margin: 1rem;
  }
  .gallery-item img {
    max-width: 398px;
    max-height: 398px;
  }
}

@media (min-width: 1024px) {
  .gallery-container {
    margin: 3rem 0;
  }
  .gallery-item {
    width: 20vw;
    height: 20vw;
    margin: 0.5rem;
  }
}
