.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.section-title {
  margin: 0 auto;
  width: 118px;
  height: 49px;
  text-align: left;
  font: normal normal bold 36px/49px Open Sans;
  letter-spacing: 0px;
  color: #2d0800;
  opacity: 1;
  margin-bottom: 46px;
}

@media (max-width: 640px) {
  .wrapper {
    width: 100vw;
  }
}
